@{
    ViewBag.Title = "File Upload and Download";
}

<h2>File Upload</h2>

@using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Choose file to upload:</label>
    <input type="file" name="file" id="file" />
    <button type="submit">Upload</button>
}

<h2>Download File</h2>
<form action="@Url.Action("Download", "File")" method="get">
    <label for="fileName">File Name:</label>
    <input type="text" name="fileName" id="fileName" required />
    <button type="submit">Download</button>
</form>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p style="color:red;">@ViewBag.Message</p>
}

<script>
    document.querySelectorAll('form').forEach(form => {
        form.addEventListener('submit', function () {
            const errorElement = document.querySelector('p[style*="color:red"]');
            if (errorElement) {
                errorElement.innerText = '';
            }
        });
    });
</script>
